*.mp4 filter=lfs diff=lfs merge=lfs -text
Environment.glb filter=lfs diff=lfs merge=lfs -text
AvatarAnim001.glb filter=lfs diff=lfs merge=lfs -text
AvatarAnim003.glb filter=lfs diff=lfs merge=lfs -text
AvatarAnim006.glb filter=lfs diff=lfs merge=lfs -text
