@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: montserrat;
    src: url("/fonts/static/Montserrat-LightItalic.ttf") format("ttf"),
      
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}
::-webkit-scrollbar {
  width: 10px;
  height: var(--scrollbar-height, 10px); /* Use the --scrollbar-height variable */
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(179, 179, 179); 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(169, 98, 201); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8033af; 
}

/* Add this CSS to change text color to black when hovering over scrollbar thumb */
::-webkit-scrollbar-thumb:hover + .scrollBarText {
  color: black;
}
/* CSS */
#scrollBarText.hovered-text .z-20 > div {
  color: black;
}
a {
  text-decoration: inherit;
}


/* body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

img, video {
  width: 1000px
}
html, body, #root {
  
  font-family: montserrat;  

  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;

}

body{
  background-image: linear-gradient(0deg, #b690c0 20%, rgb(189, 159, 189) 100%);
}

/* HTML: <div class="loader"></div> */
.loader {
  position: fixed; /* Keep loader's position static */
  width: 15px;
  top: 50%;
  left: 50%;
  z-index: 0;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
} 

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




